@use "vuetify/styles";

body {
    background-color: #f8f6f1;
    color: #1f1d1b;
    font-family: 'Comfortaa', 'Zen Maru Gothic', sans-serif;
    font-synthesis: none;
}

h2 {
    text-align: center;
}

.page-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100svh;
}

.page-inner {
    width: 400px;
    max-width: 90%;
    padding: 16px 0 32px;
    margin: 0 auto;
}

.card {
    // padding: 1px;
    margin: 0 auto;
    border: 1px solid #efedeb;
    background-color: #fff;
    // box-shadow: rgba(80, 73, 67, 0.2) 0 2px 8px;
    border-radius: 8px;
}

#__nuxt {
    .v-btn {
        font-weight: 600;
        line-height: 1.429;
        text-transform: none;
    }
}

.v-overlay-container {
    .v-btn {
        font-weight: 600;
        line-height: 1.429;
        text-transform: none;
    }
}
